#body{margin: 0%;
}
#main{height: 150vh;
    width: 100%;
    border: 1px solid black;
    
}
.first{height: 9vh;
    width: 100%;
    background-color: midnightblue;
    color: white;
    display: flex;
    justify-content: space-between;
}
.bars{  
    display: none;
}
.log{display: flex;
}
#car{
    margin-left: 10px;
    color: orange;
}
#tex{
    margin-top: -19px;
}
.pik{display: flex;

}
.get{background-color: orange;
    color: white;
    height: 7vh;
    margin-top: 10px;
}

.lis{
    list-style: none;
    display: flex;
}
.lis li{padding: 15px 15px 15px 15px;
}
.back{height: 90vh;
    width: 100%;
background-image: url(../image/project.png);
background-repeat: no-repeat;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 0);
}
#logic{
    color: orange
}
#fon{font-size: 100px;
}
#tra{
    display: flex;
}
#trace{height: 7vh;
color: white;
background-color: orange;
}
.track {width: 500px;
    height: 6vh;
}
.drop{
    display: none;
}

@media screen and (max-width: 450px){
   .body {float: none;
border: none;}
    #main{height: 100vh;
        width: 100%;
        float: none;
        border: none;
}
.first{height: 9vh;
    width: 99%;
    background-color: midnightblue;
    color: white;
    display: flex;
    justify-content: space-between;
    float: none;
}
.lis{
    list-style: none;
    display: none;
}
.lis li{padding: 15px 15px 15px 15px;
}
.get{
    display: none;
}
.gets{background-color: orange;
    color: white;
    height: 7vh;
    margin-left: 10px;}
.back{height: 90vh;
    width: 99%;
background-image: url(../image/project.png);
background-repeat: no-repeat;
background-size: cover;
float: none;
}
.bars{ 
    display: block;
    margin-right: 20px;
    margin-top: 3px;
}
.drop{
    display: none;
}
.dropdown{height: 35vh;
    width: 100px;
    background-color: white;
  margin-left: -50px;
  top: 7vh;
  position: absolute;
}
.bars:active .drop{display: block;
    transition: 0.3s;
}
#home{margin-top: 2px;
margin-left: 15px;
color: black;
}
.about{margin-top: 2px;
    margin-left: 15px;
    color: black;
}
#fon{
    font-size: 40px;
}
#tra{
    display: flex;
    display: block;
}
#trace{height: 6vh;
color: white;
background-color: orange;
}
.track {width: 200px;
    height: 6vh;
}
.paul{
    display: none;
}
}